[project]
	description = A Chef cookbook for the R-Lanuage. R is a system for statistical computation and graphics.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Thomas Vincent (thomasvincent)
[access "refs/for/refs/*"]
	read = group user/Thomas Vincent (thomasvincent)
	push = group user/Thomas Vincent (thomasvincent)
	label-Code-Review = -2..+2 group user/Thomas Vincent (thomasvincent)
	label-Verified = -1..+1 group user/Thomas Vincent (thomasvincent)
	rebase = group user/Thomas Vincent (thomasvincent)
	removeReviewer = group user/Thomas Vincent (thomasvincent)
	submit = group user/Thomas Vincent (thomasvincent)
[access "refs/heads/*"]
	read = group user/Thomas Vincent (thomasvincent)
	create = group user/Thomas Vincent (thomasvincent)
	push = +force group user/Thomas Vincent (thomasvincent)
	pushMerge = group user/Thomas Vincent (thomasvincent)
[access "refs/tags/*"]
	push = +force group user/Thomas Vincent (thomasvincent)
	pushTag = group user/Thomas Vincent (thomasvincent)
	pushSignedTag = group user/Thomas Vincent (thomasvincent)
